<article class="panel panel-info">
	<header class="panel-heading"><h1>{{report.name}}</h1></header>
	<p class="panel-body">
	  <b>Submission:</b> {{report.submission}}
	</p>
	<p class="panel-body">
	  <b>Response:</b> {{report.response}}
	</p>
</article>